h1{
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

table.table th {
    background-color: black;
    color: white; 
}

table.table tr {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

footer{
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.imagen {
    text-align: center;
    position: relative;

}

.imagen-con-lineas img {
    display: block;
    max-width: 100%;
}

.linea-arriba, .linea-abajo {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #d1c9c9; 
    margin: -15px;
}

.linea-arriba {
    top: 0;
}

.linea-abajo {
    bottom: 0;
}
.container-fluid{
    margin-top:35px;
}